In [1]:
from sklearn.linear_model import LinearRegression

In [9]:
import pandas as pd
import os
import numpy as np
os.getcwd()

'/Users/michelle/Documents/Ironhack/Amsterdam_Project/ProjectAmsterdam'

In [ ]:
# lr = LinearRegression(normalize=True)
# lr.fit()

In [26]:
diffs = time_on_SM.diff()

diffs = diffs.mean()

pd.DataFrame(diffs)

                                              0
SociaalNetwerk_31                      1.713033
ProfessioneelNetwerk_32                1.693303
KrantenNieuwsbladenLezenDownloaden_43  2.674937

In [24]:
# percentage = time_on_SM.pct_change()

# percentage.mean()

SociaalNetwerk_31                        0.028789
ProfessioneelNetwerk_32                  0.081077
KrantenNieuwsbladenLezenDownloaden_43    0.053188
dtype: float64

In [19]:
# percent = percentage.mean()

# pd.DataFrame(percent)

                                              0
SociaalNetwerk_31                      0.028789
ProfessioneelNetwerk_32                0.081077
KrantenNieuwsbladenLezenDownloaden_43  0.053188

In [23]:
def function(x, y):
    return x * (1-y)

print(function(56.157895, 0.028789))

print(function(16.957407, 0.081077))

54.54116536084501

In [14]:
time_online_social_media_2012 = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,34,35,38,39,46])


time_on_SM = time_online_social_media_2012.groupby(['Perioden'])['SociaalNetwerk_31', 'ProfessioneelNetwerk_32', 'KrantenNieuwsbladenLezenDownloaden_43'].mean()

time_on_SM

,SociaalNetwerk_31,ProfessioneelNetwerk_32,KrantenNieuwsbladenLezenDownloaden_43
Perioden,,,
2012JJ00,56.157895,16.957407,47.615789
2013JJ00,59.301754,20.698039,47.464912
2014JJ00,60.994737,21.575439,48.998246
2015JJ00,60.066667,23.272222,47.421053
2016JJ00,61.964912,23.168421,59.649123
2017JJ00,68.435088,26.701754,66.728070
2018JJ00,66.989474,27.201754,62.143860
2019JJ00,68.149123,28.810526,66.340351

In [70]:
new_time = time_on_SM.transpose()

# new_time['2010JJ00'] = [52.731829, 13.570801, 42.115038]

# new_time['2011JJ00'] = [54.444862, 15.264104, 44.789975]


new_time.insert(0, '2010JJ00', [52.731829, 13.570801, 42.115038], True)

new_time.insert(1, '2011JJ00', [54.444862, 15.264104, 44.789975], True)

time_social_media = new_time.transpose()

time_social_media

# column_order = ['2010JJ00', '2011JJ00', '2012JJ00', '2013JJ00']

# df.insert(2, "Age", [21, 23, 24, 21], True)

,SociaalNetwerk_31,ProfessioneelNetwerk_32,KrantenNieuwsbladenLezenDownloaden_43
Perioden,,,
2010JJ00,52.731829,13.570801,42.115038
2011JJ00,54.444862,15.264104,44.789975
2012JJ00,56.157895,16.957407,47.615789
2013JJ00,59.301754,20.698039,47.464912
2014JJ00,60.994737,21.575439,48.998246
2015JJ00,60.066667,23.272222,47.421053
2016JJ00,61.964912,23.168421,59.649123
2017JJ00,68.435088,26.701754,66.728070
2018JJ00,66.989474,27.201754,62.143860
2019JJ00,68.149123,28.810526,66.340351

In [36]:
diffs = time_on_SM.diff()

diffs = diffs.mean()

pd.DataFrame(diffs)

                                              0
SociaalNetwerk_31                      1.713033
ProfessioneelNetwerk_32                1.693303
KrantenNieuwsbladenLezenDownloaden_43  2.674937

In [61]:
def subtract(x, y):
    return x - y

print(subtract(56.157895, 1.713033))

print(subtract(54.444862, 1.713033))

print(subtract(16.957407, 1.693303))

print(subtract(15.264104, 1.693303))

print(subtract(47.464912, 2.674937))
      
print(subtract(44.789975, 2.674937))


# 2011

# 54.444862, 15.264104, 44.789975

# 2010

# 52.731829, 13.570801, 42.115038

54.444862
52.731829
15.264104
13.570801
44.789975
42.115038