In [23]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/michelle/Documents/Ironhack/Amsterdam_Project/ProjectAmsterdam'

In [117]:
social_media_by_parties = pd.read_csv('Use Social Media by parties.csv', sep=';')

pd.DataFrame(social_media_by_parties)

social_media_by_parties.head()

,Use of Social Media By Political Parties,Years,Twitter,Facebook,Instagram,LinkedIn
0,D66,NaN,NaN,NaN,NaN,NaN
1,NaN,2007.0,NaN,NaN,NaN,NaN
2,NaN,2008.0,NaN,NaN,NaN,NaN
3,NaN,2009.0,yes,yes,NaN,NaN
4,NaN,2010.0,yes,yes,NaN,NaN

In [119]:
parties = social_media_by_parties.replace(np.nan, ' ', regex=True)

parties

,Use of Social Media By Political Parties,Years,Twitter,Facebook,Instagram,LinkedIn
0,D66,,,,,
1,,2007,,,,
2,,2008,,,,
3,,2009,yes,yes,,
4,,2010,yes,yes,,
5,,2011,yes,yes,,
6,,2012,yes,yes,,
7,,2013,yes,yes,,
8,,2014,yes,yes,yes,
9,,2015,yes,yes,yes,
10,,2016,yes,yes,yes,
11,,2017,yes,yes,yes,
12,,2018,yes,yes,yes,
13,,,,,,
14,PVDA,,,,,
15,,2007,yes,,,
16,,2008,yes,,,
17,,2009,yes,,,
18,,2010,yes,yes,,
19,,2011,yes,yes,,
20,,2012,yes,yes,,
21,,2013,yes,yes,yes,
22,,2014,yes,yes,yes,
23,,2015,yes,yes,yes,
24,,2016,yes,yes,yes,
25,,2017,yes,yes,yes,
26,,2018,yes,yes,yes,
27,,,,,,
28,VVD,,,,,
29,,2007,yes,,,
...,...,...,...,...,...,...
53,,2017,yes,yes,yes,
54,,2018,yes,yes,yes,
55,,,,,,
56,GroenLinks,,,,,
57,,2007,,,,
58,,2008,yes,yes,,
59,,2009,yes,yes,,
60,,2010,yes,yes,,
61,,2011,yes,yes,,
62,,2012,yes,yes,,
63,,2013,yes,yes,,
64,,2014,yes,yes,yes,
65,,2015,yes,yes,yes,
66,,2016,yes,yes,yes,
67,,2017,yes,yes,yes,
68,,2018,yes,yes,yes,
69,,,,,,
70,CDA,,,,,
71,,2007,,,,
72,,2008,,,,
73,,2009,yes,,,
74,,2010,yes,yes,,
75,,2011,yes,yes,,
76,,2012,yes,yes,,
77,,2013,yes,yes,,
78,,2014,yes,yes,yes,
79,,2015,yes,yes,yes,
80,,2016,yes,yes,yes,
81,,2017,yes,yes,yes,
82,,2018,yes,yes,yes,

In [118]:
#social media indicator of each party

parties_num = parties.eq('yes').mul(1)

parties_num

,Use of Social Media By Political Parties,Years,Twitter,Facebook,Instagram,LinkedIn
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,1,0,0
4,0,0,1,1,0,0
5,0,0,1,1,0,0
6,0,0,1,1,0,0
7,0,0,1,1,0,0
8,0,0,1,1,1,0
9,0,0,1,1,1,0
10,0,0,1,1,1,0
11,0,0,1,1,1,0
12,0,0,1,1,1,0
13,0,0,0,0,0,0
14,0,0,0,0,0,0
15,0,0,1,0,0,0
16,0,0,1,0,0,0
17,0,0,1,0,0,0
18,0,0,1,1,0,0
19,0,0,1,1,0,0
20,0,0,1,1,0,0
21,0,0,1,1,1,0
22,0,0,1,1,1,0
23,0,0,1,1,1,0
24,0,0,1,1,1,0
25,0,0,1,1,1,0
26,0,0,1,1,1,0
27,0,0,0,0,0,0
28,0,0,0,0,0,0
29,0,0,1,0,0,0
...,...,...,...,...,...,...
53,0,0,1,1,1,0
54,0,0,1,1,1,0
55,0,0,0,0,0,0
56,0,0,0,0,0,0
57,0,0,0,0,0,0
58,0,0,1,1,0,0
59,0,0,1,1,0,0
60,0,0,1,1,0,0
61,0,0,1,1,0,0
62,0,0,1,1,0,0
63,0,0,1,1,0,0
64,0,0,1,1,1,0
65,0,0,1,1,1,0
66,0,0,1,1,1,0
67,0,0,1,1,1,0
68,0,0,1,1,1,0
69,0,0,0,0,0,0
70,0,0,0,0,0,0
71,0,0,0,0,0,0
72,0,0,0,0,0,0
73,0,0,1,0,0,0
74,0,0,1,1,0,0
75,0,0,1,1,0,0
76,0,0,1,1,0,0
77,0,0,1,1,0,0
78,0,0,1,1,1,0
79,0,0,1,1,1,0
80,0,0,1,1,1,0
81,0,0,1,1,1,0
82,0,0,1,1,1,0

In [130]:
# D66: ROW 12
# PVDA: ROW 17 - 28
# VVD: 33 - 44
# SP: 49: 60
# GROENLINKS: 65: 76
# CDA: 81 - 92


D66 = parties_num.iloc[:13] 

D66 = pd.DataFrame(D66).sum()

D66

Use of Social Media By Political Parties     0.0
Years                                        0.0
Twitter                                      9.0
Facebook                                    10.0
Instagram                                    5.0
LinkedIn                                     0.0
dtype: float64

In [127]:
dataframe = pd.DataFrame(colnames= 'D66', 'PVDA')

SyntaxError: positional argument follows keyword argument (<ipython-input-127-0010e49e5f01>, line 1)

In [131]:
PVDA = parties_num.iloc[17:29]

PVDA = pd.DataFrame(PVDA).sum()

PVDA

Use of Social Media By Political Parties     0.0
Years                                        0.0
Twitter                                     10.0
Facebook                                     9.0
Instagram                                    6.0
LinkedIn                                     0.0
dtype: float64

In [132]:
VVD = parties_num.iloc[33:45] 

VVD = pd.DataFrame(VVD).sum()

VVD

Use of Social Media By Political Parties    0.0
Years                                       0.0
Twitter                                     8.0
Facebook                                    8.0
Instagram                                   5.0
LinkedIn                                    0.0
dtype: float64

In [138]:
SP = parties_num.iloc[49:61] 

SP = pd.DataFrame(SP).sum()

SP

Use of Social Media By Political Parties    0.0
Years                                       0.0
Twitter                                     9.0
Facebook                                    9.0
Instagram                                   3.0
LinkedIn                                    0.0
dtype: float64

In [139]:
GROENLINKS = parties_num.iloc[65:77] 

GROENLINKS = pd.DataFrame(GROENLINKS).sum()

GROENLINKS

Use of Social Media By Political Parties    0.0
Years                                       0.0
Twitter                                     8.0
Facebook                                    7.0
Instagram                                   4.0
LinkedIn                                    0.0
dtype: float64

In [140]:
CDA = parties_num.iloc[81:93] 

CDA = pd.DataFrame(CDA).sum()

In [141]:
print(D66.sum())

print(PVDA.sum())

print(VVD.sum())

print(SP.sum())

print(GROENLINKS.sum())

print(CDA.sum())

24.0
25.0
21.0
21.0
19.0
6.0

In [145]:


data = {'D66':  ['0', '0'],
        'PVDA': ['0', '0'],
        'VVD':  ['0', '0'],
        'SP':  ['0', '0'],
        'Groenlinks': ['0', '0'],
        'CDA':  ['0', '0'],
        }

df = pd.DataFrame(data, columns = ['D66','PVDA', 'VVD', 'SP', 'Groenlinks', 'CDA'])

df

  D66 PVDA VVD SP Groenlinks CDA
0   0    0   0  0          0   0
1   0    0   0  0          0   0

In [113]:
usage = pd.read_csv('amount use social media by parties.csv', sep=';')

usage = usage.replace(np.nan, ' ', regex=True)

usage

              Unnamed: 0 Twitter Facebook Instagram LinkedIn
0                    D66
1    amount of followers  209000    70381    149000     7913
2     amount of content    23300                271
3                   PVDA
4    amount of followers  148800    48025      9562     4781
5     amount of content    17200                390
6                    VVD
7   amount of followers   241200   107053     32000    13056
8     amount of content    17300                832
9                     SP
10  amount of followers     4477    87580      5325     1512
11    amount of content     4320                317
12            GROENLINKS
13  amount of followers   137400    83429    241000     6990
14    amount of content    19100                250
15                   CDA
16  amount of followers    50400    50986      8881     6922
17    amount of content    36500                900

In [114]:
usage['sum'] = usage.sum(axis=1)

usage

              Unnamed: 0 Twitter Facebook Instagram LinkedIn  sum
0                    D66                                      0.0
1    amount of followers  209000    70381    149000     7913  0.0
2     amount of content    23300                271           0.0
3                   PVDA                                      0.0
4    amount of followers  148800    48025      9562     4781  0.0
5     amount of content    17200                390           0.0
6                    VVD                                      0.0
7   amount of followers   241200   107053     32000    13056  0.0
8     amount of content    17300                832           0.0
9                     SP                                      0.0
10  amount of followers     4477    87580      5325     1512  0.0
11    amount of content     4320                317           0.0
12            GROENLINKS                                      0.0
13  amount of followers   137400    83429    241000     6990  0.0
14    amount of content    19100                250           0.0
15                   CDA                                      0.0
16  amount of followers    50400    50986      8881     6922  0.0
17    amount of content    36500                900           0.0