In [2]:
import pandas as pd
import os
os.getcwd()

'/Users/michelle/Documents/Ironhack/Amsterdam_Project/ProjectAmsterdam'

In [4]:
time_online_social_media_2012_2019 = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,34,35,38,39,46])


time_online_social_media_2012_2019.groupby(['Perioden'])['SociaalNetwerk_31', 'ProfessioneelNetwerk_32', 'KrantenNieuwsbladenLezenDownloaden_43'].mean()

,SociaalNetwerk_31,ProfessioneelNetwerk_32,KrantenNieuwsbladenLezenDownloaden_43
Perioden,,,
2012JJ00,56.157895,16.957407,47.615789
2013JJ00,59.301754,20.698039,47.464912
2014JJ00,60.994737,21.575439,48.998246
2015JJ00,60.066667,23.272222,47.421053
2016JJ00,61.964912,23.168421,59.649123
2017JJ00,68.435088,26.701754,66.728070
2018JJ00,66.989474,27.201754,62.143860
2019JJ00,68.149123,28.810526,66.340351

In [ ]:
1. 
# the amount spend online by people (so by the voters)
# the amount of votes over the years for different parties
# their correlation

2.
# the use of social media platforms by parties
# the amount of votes
# their correlation