In [1]:
import pandas as pd
import os
os.getcwd()

'/Users/michelle/Documents/Ironhack/Amsterdam_Project/ProjectAmsterdam'

In [5]:
zetels = pd.read_csv('2018_jaarboek_zetels.csv', skiprows=0, sep=';', na_filter=False)

zetels.head()

,"11.3.5 Zetelverdeling van de Gemeenteraad naar de politieke groeperingen en opkomstpercentage, 1994-2018",1994,1998,2002,2006,2010,2014,2018
0,,,,,,,,
1,politieke groepering,1994,1998,2002,2006,2010,2014,2018
2,,,,,,,,
3,Democraten 66 (D66),8,4,3,2,7,14,8
4,Partij van de Arbeid,14,15,15,20,15,10,5

In [6]:
# voter_turnout = zetels.iloc[22:,]
# voter_turnout = voter_turnout.drop(['1994', '1998'], 1)
# voter_turnout = voter_turnout.drop([23,24], axis=0)

# voter_turnout

In [4]:
zetel_parties = zetels.drop([0,1,2,8,10,11,12,13,14,15,16,17,18,19,20,23,24], axis=0)

zetel_parties = zetel_parties.drop(['1994', '1998'], 1)

zetel_parties = zetel_parties.applymap(lambda x: str(x.replace(',','.')))

zetel_parties['2002'] = pd.to_numeric(zetel_parties['2002'])
zetel_parties['2006'] = pd.to_numeric(zetel_parties['2006'])
zetel_parties['2010'] = pd.to_numeric(zetel_parties['2010'])
zetel_parties['2014'] = pd.to_numeric(zetel_parties['2014'])
zetel_parties['2018'] = pd.to_numeric(zetel_parties['2018'])

zetel_parties['Total'] = zetel_parties.sum(axis=1)

zetel_parties

,"11.3.5 Zetelverdeling van de Gemeenteraad naar de politieke groeperingen en opkomstpercentage, 1994-2018",2002,2006,2010,2014,2018,Total
3,Democraten 66 (D66),3.0,2.0,7.0,14.0,8.0,34.0
4,Partij van de Arbeid,15.0,20.0,15.0,10.0,5.0,65.0
5,VVD,9.0,8.0,8.0,6.0,6.0,37.0
6,SP (Socialistische Partij),4.0,6.0,3.0,6.0,3.0,22.0
7,GROENLINKS,6.0,7.0,7.0,6.0,10.0,36.0
9,Christen Democratisch Appèl,4.0,2.0,2.0,1.0,1.0,10.0
21,totaal,45.0,45.0,45.0,45.0,45.0,225.0
22,opkomstpercentage,47.8,52.7,51.4,50.3,52.2,254.4

In [7]:
new_zetel = zetel_parties.transpose()

new_zetel

header_row = 0

new_zetel.columns = new_zetel.iloc[header_row]

new_zetel= new_zetel.reset_index(drop=True)

new_zetel = new_zetel.drop([0, 6], 0)

new_zetel

diff = new_zetel.diff()

diff

diff = diff.mean()

diff

diff = pd.DataFrame(diff)

diff.transpose()

"11.3.5 Zetelverdeling van de Gemeenteraad naar de politieke groeperingen en opkomstpercentage, 1994-2018",Democraten 66 (D66),Partij van de Arbeid,VVD,SP (Socialistische Partij),GROENLINKS,Christen Democratisch Appèl,totaal,opkomstpercentage
0,1.25,-2.5,-0.75,-0.25,1.0,-0.75,0.0,1.1

In [17]:
zetel_parties_after = zetel_parties.drop(['2002', 'Total'], 1)

zetel_parties_after

new_zetel_after = zetel_parties_after.transpose()

new_zetel_after

header_row = 0

new_zetel_after.columns = new_zetel_after.iloc[header_row]

new_zetel_after = new_zetel_after.reset_index(drop=True)

new_zetel_after = new_zetel_after.drop([0], 0)

new_zetel_after

diff = new_zetel_after.diff()

diff

diff = diff.mean()

diff

diff = pd.DataFrame(diff)

diff.transpose()

"11.3.5 Zetelverdeling van de Gemeenteraad naar de politieke groeperingen en opkomstpercentage, 1994-2018",Democraten 66 (D66),Partij van de Arbeid,VVD,SP (Socialistische Partij),GROENLINKS,Christen Democratisch Appèl,totaal,opkomstpercentage
0,2.0,-5.0,-0.666667,-1.0,1.0,-0.333333,0.0,-0.166667

In [14]:
time_online_social_media_2012 = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,34,35,38,39,46])

time_on_SM = time_online_social_media_2012.groupby(['Perioden'])['SociaalNetwerk_31', 'ProfessioneelNetwerk_32', 'KrantenNieuwsbladenLezenDownloaden_43'].mean()

new_time = time_on_SM.transpose()

new_time.insert(0, '2010JJ00', [52.731829, 13.570801, 42.115038], True)

new_time.insert(1, '2011JJ00', [54.444862, 15.264104, 44.789975], True)

time_social_media = new_time.transpose()

time_social_media

,SociaalNetwerk_31,ProfessioneelNetwerk_32,KrantenNieuwsbladenLezenDownloaden_43
Perioden,,,
2010JJ00,52.731829,13.570801,42.115038
2011JJ00,54.444862,15.264104,44.789975
2012JJ00,56.157895,16.957407,47.615789
2013JJ00,59.301754,20.698039,47.464912
2014JJ00,60.994737,21.575439,48.998246
2015JJ00,60.066667,23.272222,47.421053
2016JJ00,61.964912,23.168421,59.649123
2017JJ00,68.435088,26.701754,66.728070
2018JJ00,66.989474,27.201754,62.143860
2019JJ00,68.149123,28.810526,66.340351